/* -- general styling of webpage -- */
body {
    background: palevioletred;
    --topNavBar-height: 60px; /*declaring a CSS variable*/
    margin: 0;
    margin-top: var(--topNavBar-height);/*give top row 60px of space and begin everything else underneath*/
    font-family: Serif, Helvetica, sans-serif;
    font-size: 20px;
    text-align:left;
    margin-left: 2.5%;
}
p {
    margin-left: 1%;
    margin-right: 10%;
} 
h1 {
    text-align: center;
    color: white;
    font-size: 40px;
}
h2 {
    text-align: center;
    font-size: 25px;
    color: white;
    text-decoration: underline;
}
h3 { /*these are my headers!*/
    text-align: left;
    font-size: 25px;
    color: white;
    text-decoration: none;
}
h4 {
    text-align: center;
    color: black;
}

/* -- styling text properties */ 
.highlight {
    background-color:black;
    text-decoration: underline;
    color: palevioletred;
}
mark {
    background-color:black;
    color: palevioletred;
}

/* -- styling images --*/
img {
    max-width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.documentation { /* for documentation images if needed */
    border: 5px solid #555;
}

/* -- creates hanging indent for APA citations -- */
.apa-reference { 
    padding-left: 36px;
    text-indent: -36px;
    text-align: left;
}
/* -- for navigation bar -- */
.topNavBar {
    position: fixed; /*top bar exists even while user scrolls down*/
    top: 0;
    left: 0;
    width: 100%;
    height: var(--topNavBar-height); /* as top row class is within body, it can access the appearance variables such as topNavBar height*/
    display: flex; /*flexbox to give nice column layout*/
    background: black;
}

.logo {
    height: 100%;
    display: block; /*removes small space surrounding image*/
    box-sizing: border-box; /*allows height to be 100% but ensures padding is part of the sizingg, so that logo does not exceed nav bar*/
    padding: 8px;
}

.navButton {
    width: var(--topNavBar-height);
    height: 100%; /*stays within 60px topNavBar*/
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    outline: none;
    cursor: pointer;
}

.navButton > span { /*styling Google Material Icons; this is the button to open the menu*/
    color: pink;
    font-size: calc(--topNavBar-height / 2); /*height based on navBar's height*/
}

.miscNavBar .dataLinks { 
    display: flex;
    gap: 2rem; 
}

.miscNavBar { 
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.miscNavBarTable { /*this table contains and arranges the links in the top nav bar*/
    width: 70%;
    margin-left: left;
    margin-right: auto;
    text-align: center;
}
.miscNavBarRow { /*if I want to add borders to the links in the top nav bar row.*/
    border: 2px solid rgba(0,0,0,0);
    border-radius:5px;
    width: 33%;
}
.miscNavBarRow:hover { /* if I want to add colour when links in top nav bar are hovered over -- */
    background-color: rgba(0, 0, 0, 0);
}

/* -- this is the popout side bar after clicking the button-- */
.nav { 
    --nav-width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh; /*100% of viewport*/
    background: black;
    transform: translateX(calc(-1 * var(--nav-width))); /*move the panel -300 pixels to the left*/
    transition: transform 0.25s;
}

.nav-open {
    transform: translateX(0); /*resets value with nice smooth transition with the help of javascript*/
}

.navLink { /* stlying the words inside the popout side bar -- */
    display: block;
    font-family: sans-serif;
    font-size: 24px;
    padding: 24px;
    text-decoration: none;
    color: pink;
}

.navLink:not(:last-child) { /* stlying the boxes inside the popout side bar -- */
    border-bottom: 1px solid pink;
}

.navLink:hover { /* highlight when mouse hovers over box -- */
    background: rgba(255,255,255,0.1); /*subtle highlight when hovering*/
}

.nav-overlay {
    display: none; /*subtle black hue to only be displayed when nav bar is open*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.2);
}
.nav-overlay-open {
    display: block; 
}

/* styling storyboard table */ 
#storyBoard {
    width: 80%;
}
#storyBoard-row {
    border-bottom: 1px solid #ddd;
}
#storyBoard-row:hover {
    background-color: rgb(219, 90, 127);
}
.storyTH {
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 15px;
}
td {
    padding-bottom: 15px;
    padding-top: 15px;
}

/* -- styling the links I referenced -- */
.directoryLinks {/* to style the links and remove the underline*/
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
a { 
    text-decoration: underline;
    color: #fff;
    font-size: 20px;
}
a:hover {
    color:pink
}
